# See https://www.dartlang.org/guides/libraries/private-files

# Files and directories created by pub
.dart_tool/
.zip

android/app/google-services\.json
flutter_login_example/android/app/google-services\.json

ios/Runner/GoogleService-Info\.plist

android/app/key\.jks

android/app/proguard-rules\.pro

android/key\.properties